In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'Part01/application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [3]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])

### 轉換前

1. ```dtypes```輸出欄位型態
2. ```values```根據每個index輸出其column內容
3. ```shape```輸出資料行列數
4. ```apply(pd.Series.nunique, axis = 0)```輸出每個column各自的內容種類數

In [4]:
sub_train.dtypes

WEEKDAY_APPR_PROCESS_START    object
dtype: object

In [5]:
sub_train.values

array([['WEDNESDAY'],
       ['MONDAY'],
       ['MONDAY'],
       ...,
       ['THURSDAY'],
       ['WEDNESDAY'],
       ['THURSDAY']], dtype=object)

In [6]:
print(sub_train.shape)

(307511, 1)

In [7]:
print(sub_train.apply(pd.Series.nunique, axis = 0))

WEEKDAY_APPR_PROCESS_START    7
dtype: int64

In [8]:
sub_train.head()

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

### One Hot Encoder轉換

In [9]:
new = pd.get_dummies(sub_train)

### 轉換後

In [10]:
print(new.shape)
new.head()

(307511, 7)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0

In [11]:
new.values

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 1, 0, 0]], dtype=uint8)

In [12]:
new.dtypes

WEEKDAY_APPR_PROCESS_START_FRIDAY       uint8
WEEKDAY_APPR_PROCESS_START_MONDAY       uint8
WEEKDAY_APPR_PROCESS_START_SATURDAY     uint8
WEEKDAY_APPR_PROCESS_START_SUNDAY       uint8
WEEKDAY_APPR_PROCESS_START_THURSDAY     uint8
WEEKDAY_APPR_PROCESS_START_TUESDAY      uint8
WEEKDAY_APPR_PROCESS_START_WEDNESDAY    uint8
dtype: object

In [13]:
print(new.apply(pd.Series.nunique, axis = 0))

WEEKDAY_APPR_PROCESS_START_FRIDAY       2
WEEKDAY_APPR_PROCESS_START_MONDAY       2
WEEKDAY_APPR_PROCESS_START_SATURDAY     2
WEEKDAY_APPR_PROCESS_START_SUNDAY       2
WEEKDAY_APPR_PROCESS_START_THURSDAY     2
WEEKDAY_APPR_PROCESS_START_TUESDAY      2
WEEKDAY_APPR_PROCESS_START_WEDNESDAY    2
dtype: int64

### 補充：只想查看單一column時
1. ```(該df資料名稱).(該column名稱).unique``` 輸出該column內容的種類
2. ```(該df資料名稱).(該column名稱).nunique``` 輸出該column內容種類的數量

In [14]:
print(sub_train.WEEKDAY_APPR_PROCESS_START.unique())

['WEDNESDAY' 'MONDAY' 'THURSDAY' 'SUNDAY' 'SATURDAY' 'FRIDAY' 'TUESDAY']

In [15]:
print(sub_train.WEEKDAY_APPR_PROCESS_START.nunique())

7