## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'國家': ['Taiwan', 'Japan', 'American', 'Korea'],
        '人口': np.random.randint(10000,size=4)}
population = pd.DataFrame(data)

In [3]:
population

         國家    人口
0    Taiwan  5975
1     Japan  3480
2  American  9108
3     Korea  4014

In [4]:
max_pop = np.max(population['人口'])
max_pop

9108

In [5]:
max_country = population['國家'][population['人口'].idxmax()]
max_country

'American'

In [6]:
print("人口數最多的國家：", max_country, "\n該國人口數：", max_pop)

人口數最多的國家： American
該國人口數： 9108